.table-striped tbody tr.highlight {
  background-color: #5cbe5c !important;       
}

button.add-section {
  background-color: #d9534f;
}

.checkbox {
  margin-top: 0px !important;
}

.table-button, .metronome-control {
  margin-left: 5px;
}

#saveRowButton {
  margin-left: 5px;
}
